stages:
  - build
  - test
  - analysis
  - deploy

default:
  image: registry.cern.ch/ghcr.io/acts-project/alma9-base:70

variables:
  ACTS_VERSION: v39.2.0
  ACTS_GIT_URL: https://github.com/acts-project/acts.git
  LCG_PLATFORM: el9
  LCG_VERSION: 107

  CCACHE_KEY_SUFFIX: r1
  CCACHE_DIR: ${CI_PROJECT_DIR}/ccache_${CCACHE_KEY_SUFFIX}
  CCACHE_MAXSIZE: 1G


.lcg_base:
  tags:
    - cvmfs

  before_script:
    - source /cvmfs/sft.cern.ch/lcg/views/LCG_${LCG_VERSION}/x86_64-${LCG_PLATFORM}-gcc13-opt/setup.sh
    - python3 -m pip install -r ci/requirements_lcg${LCG_VERSION}.txt
    - export PATH=/root/.local/bin:$PATH

build-acts:
  extends: .lcg_base
  stage: build

  cache:
    key: ccache-acts_$CI_COMMIT_REF_SLUG
    when: always
    paths:
      - ${CCACHE_DIR}

  artifacts:
    paths:
      - acts-install
  script:
    - git clone --depth 1 ${ACTS_GIT_URL} --branch ${ACTS_VERSION}

    # temprorary patch
    - |
      # Patches:
      pushd acts
      # PATCHES GO HERE
      popd

    - ccache -z
    - ci/build_acts.sh
    - ccache -s
    # this is a workaround, see https://github.com/acts-project/acts/issues/1242
    # - cp -r acts/Examples/Scripts/Python/* acts-install/python

build-odd:
  extends: .lcg_base
  stage: build
  artifacts:
    paths:
      - odd-install
  script:
    - >
      cmake -S . -B odd-build -GNinja
      -DCMAKE_INSTALL_PREFIX=$PWD/odd-install
      -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
    - nproc
    - free -h
    - cmake --build odd-build -- -j3
    - cmake --install odd-build

include: 
  - local: ci/tracking.yml
  - local: ci/detector.yml
  - local: ci/calorimeter.yml

    
pages:
  image: registry.cern.ch/docker.io/library/ubuntu:24.04
  stage: deploy
  needs:
    - export-geometry
  artifacts:
    expose_as: Geometry output
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - curl -fsSL https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key | gpg --dearmor -o /etc/apt/keyrings/nodesource.gpg
    - echo "deb [signed-by=/etc/apt/keyrings/nodesource.gpg] https://deb.nodesource.com/node_18.x nodistro main" | tee /etc/apt/sources.list.d/nodesource.list
    - apt-get update
    - apt-get install -y nodejs build-essential libxi-dev libglu1-mesa-dev libglew-dev pkg-config libpango1.0-dev libgif-dev python-is-python3
    - npm install -g yarn
    - git clone https://github.com/acts-project/odd-phoenix.git -b updated phoenix
    - cd phoenix
    - yarn
    - cp ../export_geometry/ODD.gltf src/assets/geometry/ODD.gltf
    - yarn deploy
    - mv docs ../public
